.checkmark {
  width: 200px;
  margin: 0 auto;
  padding-top: 40px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(fonts/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

circle.path{
  stroke: white;
}

.path {
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash 2s ease-in-out;
  -webkit-animation: dash 2s ease-in-out;
}

.spin {
  stroke: yellow;
  animation: spin 2s;
  -webkit-animation: spin 2s;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.spin p {
  font-family: sans-serif;
  color: pink;
  font-size: 30px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
  animation: text .5s linear .4s;
  -webkit-animation: text .4s linear .3s;
}

.input-field input[type=text]:focus + label {
   color: white;
}
.input-field input[type=password]:focus + label {
   color: white;
}
.input-field input[type=tel]:focus + label {
   color: white;
}
.input-field input[type=number]:focus + label {
   color: white;
}
/* label underline focus color */
 .input-field input[type=text]:focus {
   color: white;
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 .input-field input[type=password]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 .input-field input[type=tel]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 .input-field input[type=number]:focus {
   border-bottom: 1px solid white;
   box-shadow: 0 1px 0 0 white;
 }
 .input-field input[type=text] {
   color: white;
   border-bottom: 1px solid white;
   box-shadow: 0 0px 0 0 white;
 }
 .input-field input[type=password] {
   color: white;
   border-bottom: 1px solid white;
   box-shadow: 0 0px 0 0 white;
 }
 .input-field input[type=tel] {
   color: white;
   border-bottom: 1px solid white;
   box-shadow: 0 0px 0 0 white;
 }
 .input-field input[type=number] {
   color: white;
   border-bottom: 1px solid white;
   box-shadow: 0 0px 0 0 white;
 }
.input-field label{
  color: white;
}

.container {
  color: white;
}

.btn {
  color: black;
}

a {
  color: white;
}

.collection {
  color: black;
}

@-webkit-keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@keyframes dash {
 0% {
   stroke-dashoffset: 1000;
 }
 100% {
   stroke-dashoffset: 0;
 }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

  @keyframes text {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
  }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: loadspin 2s linear infinite;
}

@keyframes loadspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

body {
  background-color: #2196F3;
}
